@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
/*------ROBOTO FONT------*/
/*---------BASE----------*/
/* normalize */
body {
  font-family: Roboto;
  background-color: #e3e3e3;
  color: #212121;
  border-collapse: separate;
  padding-top: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-weight: 100;
}

p, span {
  font-weight: 300;
}

section {
  z-index: 20;
  margin-bottom: 16px;
}

b {
  color: #00796b;
}

a {
  color: #03a9f4;
}
a:hover {
  color: #00796b;
}
a:active {
  color: #00796b;
}

.container-fluid {
  padding-left: 8px;
  padding-right: 8px;
}

.z-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.z-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.z-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.z-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.z-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30);
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }

  div[class|='col'] {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 769px) {
  div.general-info {
    position: relative;
    transform: translate(200%, 0);
  }

  div.details {
    position: relative;
    transform: translate(-50%, 0);
  }
}
/*------COMPONENTS-------*/
/*   contact    */
#contact .col-sm-12 {
  position: relative;
  z-index: 10;
  min-height: 100px;
  background-color: #009688;
  color: white;
  padding: 0;
}
#contact .col-sm-12 span.img-support-text, #contact .col-sm-12 span.img-subtitle {
  position: absolute;
  color: white;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0);
}
#contact .col-sm-12 span {
  position: absolute;
}
#contact .col-sm-12 span.img-support-text {
  bottom: 48px;
  left: 72px;
  font-size: 2em;
}
#contact .col-sm-12 span.img-subtitle {
  bottom: 32px;
  left: 72px;
  font-size: 0.8em;
}
#contact .col-sm-12 span.bio, #contact .col-sm-12 span.big-sub, #contact .col-sm-12 span.big {
  left: 72px;
  top: 50%;
  transform: translate(0, -50%);
}
#contact .col-sm-12 span.icon {
  top: 50%;
  left: 24px;
  transform: translate(0, -50%);
}
#contact .col-sm-12 span.big-sub {
  font-size: 1em;
  transform: translate(0, 0);
}
#contact .col-sm-12 span.big {
  font-size: 1.2em;
  transform: translate(0, -100%);
}
#contact .col-sm-12:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#contact .col-sm-12 .info-divider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #b2dfdb;
}

/*   skills    */
.skills ul {
  list-style-type: none;
  padding: 16px;
  position: relative;
}
.skills ul li {
  position: relative;
  margin-left: 36px;
}
.skills ul li::after {
  content: ' ';
  display: block;
  height: 2px;
  border: thin solid black;
  margin: 16px 0 32px 0;
}
.skills ul li img {
  position: absolute;
  left: -46px;
  top: 24px;
  opacity: 0.7;
}
.skills ul li.skill::before {
  margin-top: 36px;
  content: ' ';
  display: inline-block;
  height: 2px;
  border: thin solid #009688;
  position: absolute;
}
.skills ul li.s85 span.circle {
  left: 85%;
}
.skills ul li.s85::before {
  width: 85%;
}
.skills ul li.s80 span.circle {
  left: 80%;
}
.skills ul li.s80::before {
  width: 80%;
}
.skills ul li.s75 span.circle {
  left: 75%;
}
.skills ul li.s75::before {
  width: 75%;
}
.skills ul li.s70 span.circle {
  left: 70%;
}
.skills ul li.s70::before {
  width: 70%;
}
.skills ul li.s65 span.circle {
  left: 65%;
}
.skills ul li.s65::before {
  width: 65%;
}
.skills ul li.s60 span.circle {
  left: 60%;
}
.skills ul li.s60::before {
  width: 60%;
}
.skills h1 {
  position: absolute;
  left: 64px;
  bottom: 32px;
  color: white;
  font-weight: 300;
}
.skills p {
  position: absolute;
  left: 64px;
  bottom: 8px;
  color: #bdbdbd;
  font-weight: 300;
  font-size: 1.2em;
}
.skills span.three-dots::after {
  content: '\22EE';
  color: white;
  font-weight: 300;
  font-size: 1.8em;
  position: absolute;
  right: 16px;
  top: 16px;
}
.skills div.card-header {
  position: relative;
  background-color: #009688;
  padding-top: 33%;
  padding-left: 0;
  padding-right: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.skills div.card-content {
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.skills span.circle {
  display: inline-block;
  position: absolute;
  top: 29px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #009688;
  color: #009688;
}

/*   idea    */
#idea .col-sm-12 {
  background-color: white;
  padding: 32px;
}
#idea .col-sm-12 p {
  margin: 16px 0;
}
#idea .col-sm-12 a {
  display: block;
  padding-left: 16px;
}

/*   entry      */
.entry {
  border-radius: 4px;
  background-color: white;
  min-height: 128px;
  padding: 32px;
}
.entry ul {
  list-style-type: none;
}
.entry ul li.school:first-child::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 16px;
  margin-bottom: 16px;
  border-bottom: thin solid #bdbdbd;
}
.entry ul li.school span.spec {
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
}
.entry ul li.school span.name {
  font-size: 1.5em;
  display: block;
  font-weight: 500;
  color: #757575;
}
.entry ul li.school span.time {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  color: #00796b;
}
.entry ul li.school p {
  margin-top: 8px;
}
.entry h1 {
  margin: 32px 0;
  font-weight: 500;
  color: #00796b;
}
.entry h2 {
  margin: 32px 0;
  font-weight: 300;
  color: #009688;
}

#things-i-do p, #things-i-do span, #freetime p, #freetime span {
  font-size: 1.2em;
}
#things-i-do li, #freetime li {
  color: #00796b;
}
#things-i-do li *, #freetime li * {
  font-weight: 500;
}

#references {
  padding: 0;
  position: relative;
}
#references .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  min-height: 434px;
}
#references div.img-hover {
  position: relative;
  z-index: 100;
}
#references div.img-hover:hover {
  cursor: pointer;
}
#references div.img-hover:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#references div.img-hover img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#references div.img-hover div.img-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b2dfdb;
  opacity: 0.5;
}
#references h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #212121;
  z-index: 200;
}

@media (max-width: 768px) {
  #references img {
    display: none;
  }
  #references .col-sm-12 {
    position: relative;
    background-image: url("../res/dorapage-layer.png");
    background-position: center;
  }
}
#footer .col-sm-12 {
  height: 64px;
}
#footer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: 500;
  color: #00796b;
}
