#contact{

	.col-sm-12 {
		position: relative;
		z-index: 10;
		min-height: 100px;
		background-color: $primary-color;
		color: $primary-color-text;
		padding: 0;
		
		span.img-support-text, span.img-subtitle {
			position: absolute;
			color: $primary-color-text;
			text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
		}

		span {
			position: absolute;
		}

		span.img-support-text {
			bottom: 48px;
			left: 72px;
			font-size: 2em;
		}

		span.img-subtitle {
			bottom: 32px;
			left: 72px;
			font-size: 0.8em;
		}

		span.bio, span.big-sub, span.big {
			left: 72px;
			top: 50%;
			transform: translate(0, -50%);
		}

		span.icon {
			top: 50%;
			left: 24px;
			transform: translate(0, -50%);
		}

		span.big-sub {
			font-size: 1em;
			transform: translate(0, 0);
		}

		span.big {
			font-size: 1.2em;
			transform: translate(0, -100%);
		}

		&:last-child {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		.info-divider {
			position: absolute;
			top: 0;
			left: 0;
			height: 100px;
			width: 100%;
			border-bottom: 1px solid $primary-color-light;
		}
	}

}