body {
	font-family: Roboto;
	background-color: lighten($divider-color, 15%);
	color: $primary-text-color;
	border-collapse: separate;
	padding-top: 16px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

h1 {
	font-weight: 100;
}

p, span {
	font-weight: 300;
}

section {
	z-index: 20;
	margin-bottom: 16px;
}

b {
	color: $primary-color-dark;
}

a {
	color: $accent-color;

	&:hover {
		color: $primary-color-dark;		
	}

	&:active {
		color: $primary-color-dark;		
	}
}

.container-fluid {
	padding-left: 8px;
	padding-right: 8px;
}

.z-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.z-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.z-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.z-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.z-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30);
}

.slideanim {
	visibility:hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media(max-width: 768px) {
	body {
		padding-top: 0;
	}

	div[class|='col'] {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

@media(min-width: 769px) {
	div.general-info {
		position: relative;
		transform: translate(200%, 0);
	}

	div.details {
		position: relative;
		transform: translate(-50%, 0);
	}
}